:root{
    --main-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-color: #FFFFFF;
    --footer-contact-text: #FFFFFF99;
    --button-fiter-background: #F5F4FA;
    --footer-background : #2F303A;
    --logo-black: #000000;
    --border-header: #ECECEC;
    --border-portfolio: #EEEEEE;
    --team-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --hero-dark: rgba(47, 48, 58, 0.4);
    --social-icon-grey: #AFB1B8;
    --portfolio-filter-shadow:0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

    --portfolio-filter-cardshadow:0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        
    --footer-icon:rgba(255, 255, 255, 0.1);
    --card-transition-color: #2196F3E5;
    --work-background: #2F303ACC;
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --backdrop-overlay: #00000033;
    --modal-close: #0000001A;
    --modal-field-border: #21212133;
    --modal-comment-text: #75757580;
    --modal-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --footer-email-border: rgba(255, 255, 255, 0.3);
}
   
body {
    background: var(--background-color);
    color: var(--main-text-color);

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

a{
    text-decoration-line: none;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, p , ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/** header */
header {
    border-bottom: 1px solid var(--border-header);
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--accent-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;     
}

.logo__studio {
    color: var(--logo-black);
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}


.site-nav__link {
    position: relative;
    color: var(--title-text-color);
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--timing-function);
}

.site-nav__link:hover, .site-nav__link:focus {
    color: var(--accent-color);
}

.site-nav__link--current {
    color: var(--accent-color);
}

.site-nav__link--current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}


.header-address {
    display: flex;
    margin-left: auto;
}

.header-address__icon {
    vertical-align: middle;
    margin-right: 10px;
    fill: var(--main-text-color);
    cursor: pointer;

    transition: fill var(--timing-function);
}

.header-address__link:hover .header-address__icon, .header-address__link:focus .header-address__icon {
    fill: var(--accent-color);
}

.header-address__item:not(:last-child) {
    margin-right: 50px;
}

.header-address__link {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--main-text-color);
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--timing-function);
}


.header-address__link:hover, .header-address__link:focus {
color: var(--accent-color);
}


/**main */

/**hero */
.hero{
    text-align: center;
    background-image: linear-gradient( var(--hero-dark), var(--hero-dark) ),
        url(../images/bg-hero.jpg);
    background-color: var(--footer-background);
    background-position: center;

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    padding: 200px 0;
}

.hero__title {
    color: var(--background-color);
    max-width: 696px;
    margin: 0 auto 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

/**button */



.button {
    display: inline-block;
    color: var(--background-color);
    background-color: var(--accent-color);
    cursor: pointer;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;

    border: none;
    border-radius: 4px;
    padding: 10px 32px;
}

/**переваги */
.advantage {
    padding-bottom: 0px;
}

.advantage__benefits {
    display: flex;
}

.advantage__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-fiter-background);
    border-radius: 4px;

    height: 120px;
    width: 270px;

    margin-bottom: 30px;
}


.advantage__item{
    width: 270px;
}

.advantage__item + .advantage__item {
    margin-left: 30px;
}

.advantage__caption {
    color: var(--title-text-color);

    font-size: 14px;
    line-height: 1.14;
    padding-bottom: 10px;
}

.advantage__text {

    font-size: 14px;
    line-height: 1.71;
}

/**section work */

.section-title {
    color: var(--title-text-color);
    text-align: center;

    font-size: 36px;
    line-height: 1.16;

    margin-bottom: 50px;
}

.work__list {
    display: flex;
}

.work__item {
    position: relative;
}

.work__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;

    padding-top: 27px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-color);
    background-color: var(--work-background);
}

.work__item + .work__item {
    margin-left: 30px;
}


/**список команди */
.section.team {
    background-color: var(--button-fiter-background);
}

.team__list {
    display:flex;
    text-align: center;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.social-list_icon {
    fill: var(--social-icon-grey);
    transition: fill var(--timing-function);
}

.social-list__item:hover .social-list_icon{
    fill: var(--background-color);
}

.social-list__item {
    display:flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    align-items: center;
    justify-content: center;
}

.social-list__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    transition: background-color var(--timing-function);
}

.social-list :hover, .social-list :focus{
    background-color: var(--accent-color);
}

.social-list__item + .social-list__item {
    margin-left: 10px;
}

.team__item {
    width: 270px;
    margin-right: 30px;

    background: var(--background-color);

    box-shadow: var(--team-shadow);
    border-radius: 0px 0px 4px 4px;
}

.team__item:last-child {
    margin-right: 0px;
}


.team__name {
    color: var(--title-text-color);
    margin-top: 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

/**спеціальність команди */
.team__job {
    margin-top: 10px;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.18;
}

/**clients */
.clients__list {
    display: flex;
    font-size: 0;
}

.clients__icon {
fill: var(--social-icon-grey);
transition: fill var(--timing-function);
}

.clients__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;
    
    border: 1px solid var(--social-icon-grey);
    border-radius: 4px;

    transition: border var(--timing-function);
}

.clients__item + .clients__item {
    margin-left: 29px;
}

.clients {
    padding: 94px;
}

.clients__item:hover {
    border:1px solid var(--accent-color);
    cursor: pointer;
}

.clients__item:hover .clients__icon{
    fill: var(--accent-color);
}

/**footer */
.footer {
    padding: 60px 0;
    background: var(--footer-background);
}

.container-footer {
    display: flex;
}


.logo__studio--footer {
    color: var(--background-color);
}

.footer-address__item + .footer-address__item {
    margin-top: 9px;
}

.footer-address {
    margin-top: 20px;

    color: var(--background-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}



.footer-address__link {
    color: var(--footer-contact-text);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    transition: color var(--timing-function);
}

.footer-address__link--white {
    color: var(--background-color);
}


.footer-address__link:hover, .footer-address__link:focus {
    color: var(--accent-color);
}

/**JOIN IN */
.join {
    display: flex;
    flex-wrap: wrap;
    width: 206px;
    height: 80px;
    margin-left: 70px;
}

.join__title {
    display: inline-block;

    color: var(--background-color);
    font-size: 14px;

    margin-bottom: 20px;
}

.icon-list {
    display: flex;

}

.footer-social {
    fill: var(--background-color);
}

.icon-list__item {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--footer-icon);

    align-items: center;
    justify-content: center;
}

.icon-list__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    transition: background-color var(--timing-function);
}

.icon-list :hover,
.icon-list :focus {
    background-color: var(--accent-color);
}

.icon-list__item + .icon-list__item {
    margin-left: 10px;
}


/**РОЗСИЛКА */
.sign {
    margin-left: 63px;
}


.sign__tittle {
    display: flex;

    color: var(--background-color);
    font-size: 14px;

    margin-bottom: 20px;
}

.sign__email {
    width: 358px;
    height: 50px;
    padding-left: 16px;

    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    box-sizing: border-box;

    background: none;
    border: 1px solid var(--footer-email-border);
    outline: none;
    filter: drop-shadow( var(--modal-button-shadow));
    border-radius: 4px;
}

.sign__email::placeholder {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.sign__button {
    position: relative;
    text-align: left;
    width: 200px;
    height: 50px;
    margin-left: 12px;
}

.sign__icon {
    position: absolute;
    top: 13px;
    right: 28px;
}

.sign__list {
    display: flex;
}

/**ПОРТФОЛІО */
.container.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-filter {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.portfolio-filter__item+.portfolio-filter__item {
    margin-left: 8px;
}
.portfolio-filter__button {
    color: var(--title-text-color);
    background-color: var(--button-fiter-background);

    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;

    padding: 6px 22px;
    transition: background-color var(--timing-function), 
    box-shadow var(--timing-function), color var(--timing-function);
}


.portfolio-filter__button:hover, .portfolio-filter__button:focus {
    color: var(--background-color);
    background-color: var(--accent-color);
    box-shadow: var(--portfolio-filter-shadow);
}
 /**список послуг */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-list__item {
    position: relative;
    transition: box-shadow var(--timing-function);
}

.portfolio-list__item:hover{
    box-shadow: var(--portfolio-filter-cardshadow);
}

.portfolio-list__item:nth-child(3n) {
    margin-right: 0px;
}

.portfolio-list__item:nth-last-child(-n +3) {
    margin-bottom: 0px;
}

.portfolio-list__title {
    color: var(--title-text-color);

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-list__container {
    border: 1px solid var(--border-portfolio);
    border-top: none;
    padding: 20px 24px;
}

.portfolio-list__text {
    margin-top: 4px;

    font-size: 16px;
    line-height: 1.87;
}

.portfolio-list__card {
    position: relative;
    overflow: hidden;
}


.portfolio-list__overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 23px;

    width: 100%;
    height: 100%;

    font-size: 18px;
    line-height: 28px;
    color: var(--background-color);
    background-color: var(--card-transition-color);
    
    transform: translateY(100%);
    transition: transform var(--timing-function);

}

.portfolio-list__item:hover .portfolio-list__overlay {
    transform: translateY(0);
}


/** BACKDROP */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
    transition: opacity var(--timing-function);

    background-color: var(--backdrop-overlay);
}

.backdrop.is-hidden {
    pointer-events: none;
    opacity: 0;

}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--timing-function);

    width: 528px;
    min-height: 581px;

    background-color: var(--background-color);
    border-radius: 4px;
}

.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border: 1px solid var(--modal-close);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    background-color: var(--background-color);
    transition: var(--timing-function);
}

.modal-button:hover {
    fill: var(--accent-color);
}

.modal-tittle {
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
    margin: 40px 40px 30px 40px;
}

.form {
    padding-left: 40px;
    padding-right: 40px;
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-field + .form-field {
    margin-top: 10px;
}


.form-label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
}

.form-input {
    padding: 0;
    padding-left: 42px;
    margin-top: 4px;
    border-radius: 4px;
    border: 1px solid var(--modal-field-border);
    height: 40px;
    cursor: pointer;
    transition: var(--timing-function);
    outline: none;
}

.form-input:hover, .form-input:focus:not(:focus-visible) {
    border: 1px solid var(--accent-color);
    outline: none;
}

.modal-icon {
    fill: var(--title-text-color);
}

    
.form-input::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: var(--modal-comment-text)
}

.modal-icon{
    position: absolute;
    top: 0;
    left: 12px;
    transform: translateY(28px);

    transition: var(--timing-function);
}


.form-input.comment {
    resize: none;
    height: 120px;
    padding-top: 12px;
    padding-left: 16px;
}

.comment::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--modal-comment-text);
}

.warranty {
    margin-left: 54px;
    margin-top: 20px;
}


.checkbox-label {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.checkbox-link {
    text-decoration-line: underline;
    color: var(--accent-color);
}

.checkbox {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

            position: absolute;
}

.checkbox-icon {
    display: inline-block;
    position: relative;
    margin-right: 7px;

    border: 2px solid var(--logo-black);
    border-radius: 2px;

    width: 16px;
    height: 15px;

    transition: var(--timing-function);
}

.checkbox:checked + .checkbox-icon {
    border: 2px solid var(--accent-color);
}

.icon-check {
    display: inline-block;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    transform: translate(-2px, -2px);

    opacity: 0;
    transition: var(--timing-function);
}

.checkbox:checked + .checkbox-icon > .icon-check {
    opacity: 1;
}

.button.submit {
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding-left: 52px;
    padding-right: 52px;

    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;


    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: var(--modal-button-shadow);
}