.clients {

    &__list {
            font-size: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
    }

    &__icon {
        fill: var(--social-icon-grey);
        transition: fill var(--timing-function);
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 210px;
        height: 92px;
    
        border: 1px solid var(--social-icon-grey);
        border-radius: 4px;
    
        transition: border var(--timing-function);
    }

    &__item {
        &:hover {
            border: 1px solid var(--accent-color);
            cursor: pointer;
        }
    }

    &__item {
        &:hover .clients__icon {
            fill: var(--accent-color);
        }
    }
}

@media screen and (min-width: 1200px) {
    .clients {
    
            &__list {
                font-size: 0;
                display: flex;
                flex-wrap: nowrap;
                gap: 0;
            }
            
        &__item+.clients__item {
            margin-left: 29px;
        }
}
}
