.clients {
    padding: 94px;

    &__list {
            display: flex;
            font-size: 0;
    }

    &__icon {
        fill: var(--social-icon-grey);
        transition: fill var(--timing-function);
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 170px;
        height: 92px;
    
        border: 1px solid var(--social-icon-grey);
        border-radius: 4px;
    
        transition: border var(--timing-function);
    }

    &__item+.clients__item {
        margin-left: 29px;
    }

    &__item {
        &:hover {
            border: 1px solid var(--accent-color);
            cursor: pointer;
        }
    }

    &__item {
        &:hover .clients__icon {
            fill: var(--accent-color);
        }
    }
}
