header {
    border-bottom: 1px solid var(--border-header);
}

.logo__studio {
    color: var(--logo-black);
}

.main-nav {
    @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;
        height: 60px;
    }

    @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    }
}

.site-nav {
    @media screen and (max-width: 767px) {
    display: none;
    }

    @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;

    &__item {
            &:not(:last-child) {
                margin-right: 50px;
            }
    }

    &__link {
        position: relative;
        color: var(--title-text-color);
        padding-top: 32px;
        padding-bottom: 32px;
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition: color var(--timing-function);
    }

    &__link {
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    &__link--current {
        color: var(--accent-color);
    }

       &__link--current {
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
    
                width: 100%;
                height: 4px;
                background-color: var(--accent-color);
                border-radius: 2px;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}

.header-address {
    @media screen and (max-width: 767px) {
        display: none; 
    }

    @media screen and (min-width: 768px) {
    height: 80px;
    padding-top: 21px;

    &__icon {
            vertical-align: middle;
            margin-right: 10px;
            fill: var(--main-text-color);
            cursor: pointer;
    
            transition: fill var(--timing-function);
        }

        &__link {
        
            &:hover .header-address__icon,
            &:focus .header-address__icon {
                fill: var(--accent-color);
            }
        }

        &__item {
            &:not(:last-child) {
                margin-right: 50px;
            }
        }

        &__link {
            display: flex;

            margin-bottom: 10px;
            margin-left: 65px;
        
            color: var(--main-text-color);
        
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
        
            transition: color var(--timing-function);
        }

        &__link {
        
            &:hover,
            &:focus {
                color: var(--accent-color);
            }
        }
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;
        padding-top: 32px;

    .header-address {
        &__link {
            margin-left: 0;
        }
    }
    }
}