.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }
}

.menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
    text-decoration: underline;
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    fill: var(--accent-color);
}

.menu-container {
    position: fixed;

    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
    background-color: var(--background-color);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    margin-bottom: auto;

    list-style: none;

    &__link {
        display: block;
        padding-bottom: 32px;
        color: var(--title-text-color);
        text-decoration: none;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
    }

    &__link--current {
        color: var(--accent-color);
    }
}

.mobile-social {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &__item {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        padding-right: 10px;

        border-right: 1px solid var(--modal-field-border);

        &:last-child {
            border-right: none;
            padding-right: 0;
        }
    }

    &__link {
        color: var(--accent-color);
    }
}

.mobile-contact {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__link {
            font-weight: 500;
            font-size: 24px;
            color: var(--main-text-color);
    }

    &__link--big {
            font-size: 34px;
            line-height: 40px;
            color: var(--accent-color);
    }
}