.container.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-filter {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;

    &__item+.portfolio-filter__item {
            margin-left: 8px;
    }

    &__button {
        color: var(--title-text-color);
        background-color: var(--button-fiter-background);
    
        font-weight: 500;
        line-height: 1.62;
        letter-spacing: 0.03em;
    
        padding: 6px 22px;
        transition: background-color var(--timing-function),
            box-shadow var(--timing-function), color var(--timing-function);
    }

    &__button {
    
        &:hover,
        &:focus {
            color: var(--background-color);
            background-color: var(--accent-color);
            box-shadow: var(--portfolio-filter-shadow);
        }
    }
}

/**список послуг */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__item {
            position: relative;
            transition: box-shadow var(--timing-function);
    }

    &__item {
        &:hover {
            box-shadow: var(--portfolio-filter-cardshadow);
        }
    }

    &__item {
        &:nth-child(3n) {
            margin-right: 0px;
        }
    }

    &__item {
        &:nth-last-child(-n +3) {
            margin-bottom: 0px;
        }
    }

    &__title {
        color: var(--title-text-color);
    
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }

    &__container {
        border: 1px solid var(--border-portfolio);
        border-top: none;
        padding: 20px 24px;
    }

    &__text {
        margin-top: 4px;
    
        font-size: 16px;
        line-height: 1.87;
    }

    &__card {
        position: relative;
        overflow: hidden;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        padding: 63px 23px;
    
        width: 100%;
        height: 100%;
    
        font-size: 18px;
        line-height: 28px;
        color: var(--background-color);
        background-color: var(--card-transition-color);
    
        transform: translateY(100%);
        transition: transform var(--timing-function);
    }

    &__item {
        &:hover .portfolio-list__overlay {
            transform: translateY(0);
        }
    }
}
